{
	"AppId": "com.skycm.productivo",
	"ServiceUrl": "/destinations/mobileservices",
	"DestinationName": "Online_skycm",
	"PathSuffix": "/CatalogService",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": false,
	"SourceType": "Mobile"
}