{
	"AppId": "com.skycm.productivo",
	"ServiceUrl": "/destinations/mobileservices",
	"DestinationName": "Rest_Inventario",
	"Headers": {
	},
	"OfflineEnabled": false,
	"SourceType": "Mobile",
	"RestService": true
}